

<p class = "contact_box">There are <span class = "num_of_contacts"><%=@contact_count%></span> contacts</p>

<ul>
  <% Contact.all.each do |contact| %>
  <li>
      <%= contact.first_name %> <%= contact.last_name %> (<%= contact.email%>)
      <div class="links">
        <a href="...">Edit</a> | <a href="...">Delete</a>
      </div>
  </li>
  <% end %>
</ul>
